
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewData["Title"] = "Sign Up";
}

<h2>Sign Up</h2>
<form method="post" asp-controller="SignUp" asp-action="Register">
    <div>
        <label for="fullName">Full Name:</label>
        <input type="text" id="fullName" name="fullName" required />
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required />
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />
    </div>
    <div>
        <label for="password">Phone Number:</label>
        <input type="text" id="phoneNumber" name="phoneNumber" required />
    </div>

    <button type="submit">Sign Up</button>
</form>